doctype html
html
    head
        title #{title} | Prism Movies
    body
        h1.title=title
        br
        span.description=description
        ul
            each item in genres
                li=item